<h1>User info</h1>
<%= form_with model: @user do |f| %>
  <div><label>Name</label></div>
  <%= f.text_field :name %>
  
  <div><lavel>introduction</lavel></div>
  <%= f.text_field :introduction %>
  
  <div><%= f.submit 'Update Book' %></div>
<% end %>  
